In [2]:
print("Hello world!!")
print(5)

Hello world!!
5

In [3]:
#Write a poem using multiline print statement
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [4]:
#Write a poem using escape sequence charater
print("Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [9]:
#use of single and double quote in python and escape sequence
print("My name is 'pratyusha'")
print("my name is \"Pratyusha\"")
print("Apple",5,6,sep="-",end="price\n ")
print("Market price of apple")

My name is 'pratyusha'
my name is "Pratyusha"
Apple-5-6price
 Market price of apple

In [15]:
#Python variable and datatype
a = 10
b = 4.5
c = "B"
d = True
e = None
f = complex(2,6)
list1 = ["apple","guava","lichi"]
tuple1 = ("A","B","c")
dict1 = {
    "Name" : "pratyusha",
    "Age": 20,
    "Home":"Howrah"
    }
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))
print(type(list1))
print(type(tuple1))
print(type(dict1))

10
<class 'int'>
4.5
<class 'float'>
B
<class 'str'>
True
<class 'bool'>
None
<class 'NoneType'>
(2+6j)
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [19]:
#Arithmatic operator
a = 24
b = 19
print("Sum is:-",a+b)
print("Difffernce is:-",a-b)
print("Multiplication is:-",a*b)
print("Division is:-",a/b)
print("Floor divisiion is:-",a//b)
print("Exponential is:-",a**3)
print("Modulus is:-",a%b)

Sum is:- 43
Difffernce is:- 5
Multiplication is:- 456
Division is:- 1.263157894736842
Floor divisiion is:- 1
Exponential is:- 13824
Modulus is:- 5

In [20]:
#calculator
num1 = (int(input("Enter the first number:-")))
num2 = (int(input("Enter the first number:-")))
option = (int(input("Enter the option:-")))
if option == 1:
    print(num1+num2)
elif option == 2:
    print(num1-num2)    
elif option == 3:
        print(num1*num2)
elif option == 4 :
        print(num1/num2)
else:
      print("Invalid option")

6030

In [21]:
# Typecasting and User input
name = input("Enter your name:-")
print("My name is :",name)

# here the input is given as a string
x1 = input("Enter the first number:")
y1 = input("Enter the second Number:-")
print(x1+y1)

#here the string input is changed into integer by typecasting
x2 =int(input("Enter the first number:"))
y2 =int(input("Enter the second Number:-"))
print(x2+y2)

My name is : megha
1213
25

In [43]:
#strings
#indexing
name = "Pratyusha"
print(name[0])

#looping
for char in name:
    print(char)

#length
print(len(name))

#slicing
print(name[0:5])    

#reverse
print(name[::-1])

P
P
r
a
t
y
u
s
h
a
9
Praty
ahsuytarP

In [56]:
#string methods
name = "pratyusha mukherjee !"
print(name.upper())  #upper
print(name.lower())  #lower
print(name.rstrip("!")) #strip= to remove anything from string
print(name.replace("pratyusha","Megha")) #replace with megha
print(name.split())#making the string to list
print(name.capitalize())#capitalize first word
print(name.center())

PRATYUSHA MUKHERJEE !
pratyusha mukherjee !
pratyusha mukherjee
Megha mukherjee !
['pratyusha', 'mukherjee', '!']
Pratyusha mukherjee !